<html>

<head>
<title>About Page</title>
</head>

Company Synopsis:
<br>
Our company's philosophy is to exceed customers expectation on quality & service and provide amazing shower experience for you and your family.
<br>
<form name='backToHomePage' action='/'>         
          <button style='padding:2rem' type='submit' id = 'logbtn'>Back To Home Page</button>
</form>

<!-- <script type = "text/javascript"> -->
    <!-- if(document.referrer === '')window.location = '/' -->
<!-- </script>  -->

</html>