<html>

<head>
<title>About Us Page</title>
</head>

Team description:
<br>
Su
<br>
Phone:
<br>
657-252-4655 (office)
<br> 
626-715-9418 (mobile)
<br>
wechat(微信）：
<br>
13671019200
<br>
Factory direct email:
<br>
Email: surofixture@gmail.com
<br>
Construction company email:
<br>
Email: suroconstruction@gmail.com
<br>
<form name='backToHomePage' action='/'>         
          <button style='padding:2rem' type='submit' id = 'logbtn'>Back To Home Page</button>
</form>

<!-- <script type = "text/javascript"> -->
    <!-- if(document.referrer === '')window.location = '/' -->
<!-- </script>  -->

</html>